<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soerja.ngalamhistory" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
                   android:value="AIzaSyC_cmY14nDS6BptFXOESNPRroY__Uld_5w"/>
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>

        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="Home" >
        </activity>

        <activity android:name=".LoginActivity" android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".RegisActivity" >
        </activity>

        <activity android:name=".ForgetActivity" android:parentActivityName=".MainActivity" >
        </activity>

        <activity android:name=".AboutActivity" android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".SettingActivity" android:parentActivityName=".MainActivity" >
        </activity>

        <activity android:name=".article.sejarah.ArtikelListActivity" android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".article.sejarah.ComentActivity" android:parentActivityName=".article.sejarah.ArtikelActivity">
        </activity>

        <activity android:name=".article.sejarah.ArtikelActivity" android:parentActivityName=".article.sejarah.ArtikelListActivity" >
        </activity>

        <activity android:name=".article.sejarah.photodesc.PhotoDescActivity" android:parentActivityName=".article.sejarah.ArtikelActivity">
        </activity>

        <activity android:name=".article.sejarah.AllArtActivity" android:parentActivityName=".MainActivity" >
        </activity>

        <activity android:name=".LikedActivity" android:parentActivityName=".MainActivity" >
        </activity>

        <activity android:name=".RecomendedActivity" android:parentActivityName=".MainActivity" >
        </activity>

        <activity android:name=".PhotoDLActivity" android:parentActivityName=".article.sejarah.photodesc.PhotoDescActivity" >
        </activity>

        <activity android:name=".RecArtActivity" android:parentActivityName=".RecomendedActivity" >
        </activity>

        <activity android:name=".DashboardActivity">
        </activity>

        <activity android:name=".ManageContent" android:parentActivityName=".DashboardActivity">
        </activity>

        <activity android:name=".manage_user.ManageUserActivity" android:parentActivityName=".DashboardActivity">
        </activity>

        <activity android:name=".manage_kategori.ManageKategori" android:parentActivityName=".ManageContent">
        </activity>

        <activity android:name=".manage_kategori.AddKategori" android:parentActivityName=".manage_kategori.ManageKategori">
        </activity>

        <activity android:name=".manage_artikel.ManageArtikelActivity" android:parentActivityName=".ManageContent">
        </activity>

        <activity android:name=".manage_artikel.AddArtikel" android:parentActivityName=".manage_artikel.ManageArtikelActivity">
        </activity>

    </application>

</manifest>